In [1]:
# 1 Write a program to reverse a string.
s = "azman"

In [2]:
s[::-1]

'namza'

In [3]:
#2 eck if a string is a palindrome.
s =input()
#reversed a string and save it into another variable
new_s = s[::-1]
#comapre the reversed string to the original string if palindrome then sprint it
if new_s == s :
    print("palindrome")
else:
    print("not a palindrome")

 azman ldkfk

not a palindrome

In [4]:
#3 Convert a string to uppercase.
s1 = "azman khan"
s1.upper()

'AZMAN KHAN'

In [5]:
#4 Convert a string to lowercase. 
s1.lower()

'azman khan'

In [6]:
#5 Count the number of vowels in a string.
sentence = input()
vowel_count = 0
vowel = ('a' , 'e', 'i', 'o', 'u')
for char in sentence:
    if  char in vowel :
        vowel_count += 1
vowel_count

 akdjf

1

In [7]:
#6 Count the number of consonants in a string.
sentence = input()
vowel_count = 0
vowel = ('a' , 'e', 'i', 'o', 'u')
for char in sentence:
    if  char not in vowel :
        vowel_count += 1
vowel_count

 akddldkdkjdkj

12

In [8]:
#7 Remove all whitespaces from a string.
s = "pwskills data science pro course "
s.replace(" ","")

'pwskillsdatascienceprocourse'

In [9]:
#8 Find the length of a string without using the `len()` function.
s = input()
count = 0
for index in s :
    count += 1 # count = count +1
print("length is -",count)

 fmnfnfnkakjd

length is - 12

In [10]:
#9 Check if a string contains a specific word.
string = input ()
if "is" in string :
    print ("specific character is present ")
else :
    print("specific character is not present")

 azman jha is

specific character is present

In [11]:
#10. Replace a word in a string with another word.
something= "You are not best"
something.replace("not","the")

'You are the best'

In [12]:
#11. Count the occurrences of a word in a string.
new_word = "Hey my name is azman"
new_word.count("a")

3

In [13]:
#12. Find the first occurrence of a word in a string.
new_word = "Hey my name is azman"
new_word.find("y")

2

In [14]:
#13. Find the last occurrence of a word in a string.
new_word = "Hey my name is azman"
#rfind return the highest index where the string is found 
new_word.rfind("y")

5

In [15]:
#14. Split a string into a list of words.
new_word = "Hey my name is azman"
s_split = list(new_word)
print(s_split)

['H', 'e', 'y', ' ', 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'z', 'm', 'a', 'n']

In [16]:
#15. Join a list of words into a string.
string = "Azman" "khan" 
"".join(string)

'Azmankhan'

In [17]:
#16. Convert a string where words are separated by spaces to one where words
#are separated by underscores.

string = "This is the data science course "
s = string.split()
"_".join(s)

'This_is_the_data_science_course'

In [18]:
#17. Check if a string starts with a specific word or phrase.
string = "this is data science course"
string.startswith("this")

True

In [19]:
#18. Check if a string ends with a specific word or phrase.
string = "this is data science course"
string.endswith("course")

True

In [20]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
new_string = "hello world"
new_string.title()

'Hello World'

In [21]:
#20 Find the longest word in a string.
word =" find the longest word in the string"
#by using max function we can find the longest string :
longest_word = max(word.split(),key=len)
longest_word

'longest'

In [22]:
#21. Find the shortest word in a string.
word =" find the longest word in the string"
#by using min function we can find the longest string :
shortest_word = min(word.split(),key=len)
shortest_word

'in'

In [23]:
#22. Reverse the order of words in a string.
input_string = "This is the reverse string "
#spliting the string 
word =input_string.split()
#reverse the splitted string 
reverse_word = word[::-1]
#join the reverse splited string
reverse_string = " ".join(reverse_word)
reverse_string

'string reverse the is This'

In [24]:
#23. Check if a string is alphanumeric.
input_string = input()
input_string.isalnum()

 hekkoe

True

In [25]:
#24. Extract all digits from a string.
input_str = input()
#filter function is used to filter out all the digit
# isdigit function is used to trace all the digit
alpha = "".join(filter(str.isdigit , input_str))
len(alpha)

 13 jkd

2

In [26]:
#25. Extract all alphabets from a string.
input_str = input()
#filter function is used to filter out all the alphabet
alpha = "".join(filter(str.isalpha , input_str))
len(alpha)

 djheehehe

9

In [27]:
#26. Count the number of uppercase letters in a string.
input_string = "Hello WorlD"
uppercase_count = sum(map(str.isupper, input_string))
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 3

In [28]:
#27. Count the number of lowercase letters in a string.
input_string = "Hello WorlD"
lowercase_count = sum(map(str.islower, input_string))
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 7

In [29]:
#28. Swap the case of each character in a string.
input_string = "Hello WorlD" 
input_string.swapcase()

'hELLO wORLd'

In [30]:
#29. Remove a specific word from a string.
input_string = "Hello  World My Name "
input_string.replace("Hello" ,"")

'  World My Name '

In [31]:
#30. Check if a string is a valid email address.
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [33]:
from urllib.parse import urlparse
#urlparse is a function to parse the input
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Test the function
url = "https://www.example.com"
if is_valid_url(url):
    print(f"{url} is a valid URL")
else:
    print(f"{url} is not a valid URL")

https://www.example.com is a valid URL

In [34]:
#35. Extract the protocol (http or https) from a URL string.
input_protocol = input("enter a valid url")
#url.split(":", 1) means split to only '1' colon
parts = input_protocol.split(":",1)
if len(parts) > 1 and parts [0] in ("http" , "https") :
    print( parts[0])
else :
    print("no protocol found")

enter a valid url http://djhhd

http

In [35]:
#36. Find the frequency of each character in a string.

inp_str = input("enter something ")
frequency = {}
for char in inp_str :
    if char in frequency :
        frequency[char]+= 1
    else :
        frequency[char] =1
print(frequency)

enter something  hello wrold

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [36]:
#37. Remove all punctuation from a string.
punctuation = "!@#$%^&*()_+<>?:.,/;"  # add whatever you want

s = input("enter a string") 
for punch in s:
    if punch in punctuation:
        s = s.replace(punch, "")

print(s)

enter a string what? this is python!

what this is python

In [37]:
#38. Check if a string contains only digits.
input_str = input()
if input_str.isdigit():
    print(True)
else :
    print(False)

 12344mfk

False

In [38]:
#38. Check if a string contains only digits.
input_str = input()
if input_str.isalpha():
    print(True)
else :
    print(False)

 kdjdjd

True

In [39]:
#40. Convert a string to a list of characters.
string = list(input("input somethin"))
print(string)

input somethin hello world

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [41]:
#41. Check if two strings are anagrams.
string1  =input()
string2 =input()
if sorted(string1) == sorted(string2) :
    print(True)
else:
    print(False)

 listen
 silent

True

In [47]:
#42. Encode a string using a Caesar cipher.
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [43]:
#43. Decode a Caesar cipher encoded string.
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [49]:
#44
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [50]:
#45Find all unique words in a string.'
input_string  =input("type anything ")
string = input_string.split()
new_string = set(string)
print(new_string)

type anything  my name is azman and testing is my

{'name', 'is', 'and', 'my', 'azman', 'testing'}

In [1]:
#46
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [2]:
#47 
def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [27]:
#48. Remove the nth word from a string.
input_str = input()
nth_word = input()
new = str(input_str.split())
word = new.replace(nth_word ,"")
print (word)

 azman khan data science
 data

['azman', 'khan', '', 'science']

In [28]:
def remove_nth_word(input_string, n):
    # Split the input string into words using space as a delimiter
    words = input_string.split()

    # Check if n is a valid index (0 <= n < len(words))
    if n >= 0 and n < len(words):
        # Remove the nth word
        words.pop(n)

        # Join the remaining words back into a single string
        result_string = ' '.join(words)

        return result_string
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to test the function."
n = 3  # Remove the 4th word (0-based index)
result = remove_nth_word(input_string, n)
print(result)

This is a sentence to test the function.

In [30]:
#49. Insert a word at the nth position in a string.
def insert_word_at_nth_position(input_string, n, word_to_insert):
    # Split the input string into words using space as a delimiter
    words = input_string.split()

    # Check if n is a valid index (0 <= n <= len(words))
    if n >= 0 and n <= len(words):
        # Insert the new word at the nth position
        words.insert(n, word_to_insert)

        # Join the words back into a single string
        result_string = ' '.join(words)

        return result_string
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to test the function."
n = 3  # Insert a word at the 4th position (0-based index)
word_to_insert = "new"
result = insert_word_at_nth_position(input_string, n, word_to_insert)
print(result)

This is a new sample sentence to test the function.

In [31]:
#50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [36]:
#1. Create a list with integers from 1 to 10.
new = list(range(1,11))
new

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
#2. Find the length of a list without using the `len()` function.
def new_list(my_list):
    count = 0
    for length in my_list :
        count +=1
    return count 

my_list = [1,2,3,4,5,6,7,8,9,10,11,23,4,5,6,7]
find_len = new_list(my_list)
print (find_len)

16

In [4]:
#3. Append an element to the end of a list.
new_list = [1,2,3,4,5,6,7,8,9]
new_list.append(0)
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [16]:
#4. Insert an element at a specific index in a list.
my_list = [10, 20, 30, 40, 50]

# Element to insert
new_element = int(input("enter element "))

# Index at which to insert the element
index = int(input("enter the index"))

# Insert the new element at the specified index
my_list.insert(index, new_element)

# Print the updated list
print("Updated list:", my_list)

enter element  14
enter the index 5

Updated list: [10, 20, 30, 40, 50, 14]

In [28]:
#5. Remove an element from a list by its value.
new_list = [1,2,3,4,5,6,7,8,9]
second = new_list.remove(3)
print(new_list)

[1, 2, 4, 5, 6, 7, 8, 9]

In [26]:
#6. Remove an element from a list by its index.
new_list = [1,2,3,4,5,6,7,8,9]
second = new_list.pop(3)
print(new_list,"removed element is :",second)

[1, 2, 3, 5, 6, 7, 8, 9] removed element is : 4

In [2]:
#7. Check if an element exists in a list.
new_list = [1,2,3,4,5,6,7,8,9]
element_to_check = int(input())
if element_to_check in new_list:
    print(True)
else :
    print("element not present ")

 10

element not present

In [4]:
#8. Find the index of the first occurrence of an element in a list.
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element_to_find = 30

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print("the index of :",element_to_find, "is ",index)

the index of : 30 is  2

In [9]:
#. Count the occurrences of an element in a list.
my_list = [10, 20, 30, 40, 50, 30, 30]

# Element to count occurrences of
element = int(input())
count = my_list.count(element)
print(f"element {element} is occoured {count} times")

 30

element 30 is occoured 3 times

In [10]:
# 10. Reverse the order of elements in a list.
my_list = [10, 20, 30, 40, 50]

# Reverse the order of elements in the list
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [11]:
#11. Sort a list in ascending order.
my_list = [50, 10, 30, 40, 20]

# Sort the list in ascending order
my_list.sort()
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

In [12]:
#12. Sort a list in descending order.
my_list = [50, 10, 30, 40, 20]

# Sort the list in descending order
my_list.sort(reverse=True)
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

In [14]:
#13. Create a list of even numbers from 1 to 20.
numbers = list(range(2, 21, 2))
print("List of even numbers:", numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
#### 14. Create a list of odd numbers from 1 to 20.
numbers = list(range(1,21, 2))
print("List of odd numbers:", numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
#15. Find the sum of all elements in a list.
my_list = [50, 10, 30, 40, 20]
summ = sum(my_list)
print("sum of the list is " ,summ)

sum of the list is  150

In [19]:
#16. Find the maximum value in a list.
my_list = [50, 10, 30, 40, 20]
maxi = max(my_list)
print(f"the maximum number is {maxi}")

the maximum number is 50

In [20]:
#17. Find the minimum value in a list.
my_list = [50, 10, 30, 40, 20]
mini = min(my_list)
print(f"the minimum number is {mini}")

the minimum number is 10

In [28]:
#18. Create a list of squares of numbers from 1 to 10.
squares = []
for i in range(1, 11):
    squares.append(i**2)
    
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
#19. Create a list of random numbers.
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for x in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [37, 36, 43, 82, 67, 20, 76, 51, 8, 68]

In [32]:
#20. Remove duplicates from a list.
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

# Remove duplicates by converting to a set and back to a list
new = list(set(my_list))

print("List without duplicates:", new)

List without duplicates: [40, 10, 50, 20, 30]

In [36]:
#21. Find the common elements between two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

set1 = set(list1)
set2 = set(list2)
common = set1.intersection(set2)
print(list(common))

[40, 50, 30]

In [38]:
#22. Find the difference between two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

set1 = set(list1)
set2 = set(list2)
difference = set1.difference(set2)
print(list(difference))

[10, 20]

In [40]:
#23. Merge two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
print(sorted(list1+list2))

[10, 20, 30, 30, 40, 40, 50, 50, 60, 70]

In [41]:
9980+20

10000

In [46]:
#24. Multiply all elements in a list by 2.
list1 = [10, 20, 30, 40, 50]
multiply =  [x * 2 for x in list1]
multiply

[20, 40, 60, 80, 100]

In [54]:
#25. Filter out all even numbers from a list.
lists = [1,12,13,14,5,16,7,18,19,20]
even = [x for x in lists if x % 2 == 0]
print(even)

[12, 14, 16, 18, 20]

In [13]:
#26. Convert a list of strings to a list of integers.
string = ["1","2","3","4","5"] 

new_str = [int(x) for x in string]
new_str

[1, 2, 3, 4, 5]

In [16]:
#7. Convert a list of integers to a list of strings.
lists = [1,12,13,14,5,16,7,18,19,20]
string = [str(x) for x in lists]
string

['1', '12', '13', '14', '5', '16', '7', '18', '19', '20']

In [4]:
#28. Flatten a nested list.
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
#29. Create a list of the first 10 Fibonacci numbers.
#initializition of first two number
fibonacci_sequence = [0, 1] 

# Use a for loop to generate the next 8 Fibonacci numbers
for x in range(8):
    next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
    fibonacci_sequence.append(next_number)

# Print the list of the first 10 Fibonacci numbers
print("the fabonacchi series is ",fibonacci_sequence)

the fabonacchi series is  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [20]:
##30. Check if a list is sorted.
lists = [1,12,13,14,5,16,7,18,19,20]
if lists  == sorted(lists):
    print("list is sorted")
else :
    print("list is not sorted")

list is not sorted

In [1]:
#31. Rotate a list to the left by `n` positions.
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [2]:
#32. Rotate a list to the right by n positions.
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [7]:
#33. Create a list of prime numbers up to 50.
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [2, 3]
for num in range(5, 51, 2):
    if is_prime(num):
        prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [8]:
#Split a list into chunks of size n.
def sieve_of_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False

    for current in range(2, int(limit**0.5) + 1):
        if sieve[current]:
            for multiple in range(current * current, limit + 1, current):
                sieve[multiple] = False

    return [number for number, is_prime in enumerate(sieve) if is_prime]

limit = 50
prime_numbers = sieve_of_eratosthenes(limit)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [14]:
#35. Find the second largest number in a list.
my_list = [1, 2, 3, 4, 5,5,6,10,10,19,19,19, 6]
find = sorted(set((my_list)))
print(find[-2])

10

In [15]:
#36. Replace every element in a list with its square.
my_list = [1,2,3,4,5,6,7,8,9]
squared_list = [x ** 2 for x in my_list]
print(f"the square of {my_list} is {squared_list}")

the square of [1, 2, 3, 4, 5, 6, 7, 8, 9] is [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ["apple", "banana", "cherry", "date"]
my_dict = {}

for index, value in enumerate(my_list):
    my_dict[value] = index

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [2]:
#38. Shuffle the elements of a list randomly.
import random
lists = [1,2,3,4,5,6,7,8,9]
#shuffiling random lists :
random.shuffle(lists)
print(lists)

[2, 8, 6, 4, 5, 7, 9, 3, 1]

In [4]:
#39. Create a list of the first 10 factorial numbers.
import math

# Create a list of the first 10 factorial numbers
factorial_list = [math.factorial(n) for n in range(10)]

print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [17]:
#40. Check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have  common element.",item)
else:
    print("The lists do not have any common elements.")

The lists have  common element. 3

In [20]:
#41. Remove all elements from a list.
list1 = [1, 2, 3, 4, 5]
clear = list1.clear()
list1

[]

In [24]:
#42. Replace negative numbers in a list with 0.
list1 = [10,20,-10,30,-3,3,-5]
for i in range(len(my_list)):
    if list1[i] < 0:
        list1[i] = 0

# Print the list after replacing negative numbers with 0
print( list1)

[10, 20, 0, 30, -3, 3, -5]

In [29]:
#43. Convert a string into a list of words.
my_string = "Hello, this is a sample sentence."
word_list = list(my_string.split())
print( word_list)

['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [31]:
#44. Convert a list of words into a string
my_list =['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']
join =" ".join(my_list)
print(join)

Hello, this is a sample sentence.

In [34]:
#45. Create a list of the first n powers of 2.
n = int(input("enter n:"))
power  =[2**i for i in range(n)]
print(power)

enter n: 5

[1, 2, 4, 8, 16]

In [38]:
#46. Find the longest string in a list of strings.
list1 =['Find', 'the' ,'longest', 'string', 'in','a' ,'list']
longest_string = ""
for s in list1:
    if len(s) > len(longest_string):
        longest_string = s
print(longest_string)

longest

In [42]:
#47. Find the shortest string in a list of strings.
list1 =['Find', 'the' ,'longest', 'string', 'in','a' ,'list']
shortest_string = list1[0]
for s in list1:
    if len(s) < len(shortest_string):
        shortest_string = s
print(shortest_string)

a

In [43]:
#48. Create a list of the first n triangular numbers.
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [44]:
#49. Check if a list contains another list as a subsequence.
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [45]:
### 50. Swap two elements in a list by their indices.
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

In [7]:
#1. Create a set with integers from 1 to 5
set1 = set(range(1,6))
set1

{1, 2, 3, 4, 5}

In [9]:
#2. Add an element to a set
set1 = {1, 2, 3, 4, 5}
set1.add(7)
set1

{1, 2, 3, 4, 5, 7}

In [10]:
#3. Remove an element from a set.
set1 ={1, 2, 3, 4, 5, 7}
set1.remove(7)
set1

{1, 2, 3, 4, 5}

In [14]:
#4. Check if an element exists in a set.
set1 ={1, 2, 3, 4, 5,7}
if 7 in set1:
    print("element found")
else :
    print("element not found")

element found

In [17]:
#5. Find the length of a set without using the len() function
set1 ={1, 2, 3, 4, 5,7}
count =0;
for x in set1:
    count+=1;
count

6

In [2]:
#6. Check if an element exists in a tuple.

tup  = (1, 2, 3, 4, 5,7)
if 7 in tup:
    print("is present")
else :
    print("Not present")

is present

In [3]:
# 7. Convert a tuple to a list.
tup  = (1, 2, 3, 4, 5,7)
convet = list(tup)
convet

[1, 2, 3, 4, 5, 7]

In [4]:
#8. Convert a list to a tuple.
lists  = [1, 2, 3, 4, 5,7]
convet = tuple(lists)
convet

(1, 2, 3, 4, 5, 7)

In [7]:
#9. Unpack the elements of a tuple into variables
tup = (10,20,30)
a,b,c = tup
print ("a:",a)
print ("b:",b)
print ("c:",c)

a: 10
b: 20
c: 30

In [15]:
#10. Create a tuple of even numbers from 1 to 10
tup = tuple(range(2,11,2))
tup

(2, 4, 6, 8, 10)

In [16]:
#11. Create a tuple of odd numbers from 1 to 10.
tup = tuple(range(1,11,2))
tup

(1, 3, 5, 7, 9)

In [17]:
#12. Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple1+tuple2

(1, 2, 3, 4, 5, 6)

In [18]:
#13. Repeat a tuple three times.
tuple1 = (1, 2, 3)
tuple2 = tuple1 *3
tuple2

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [26]:
#14. Check if a tuple is empty.
tup = tuple(input("enter tuple"))
if tup == ():
    print("tuple is empty")
else:
    print ("tuple have some element ",tup)

enter tuple

tuple is empty

In [27]:
#15. Create a nested tuple.
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
nested_tuple

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [36]:
#### 16. Access the first element of a nested tuple.
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
nested_tuple[0]

(1, 2, 3)

In [2]:
#17. Pop an element from a set.
my_set = {1, 2, 3, 4, 5}
my_set.pop()
my_set

{2, 3, 4, 5}

In [9]:
#18. Check if two sets have no elements in common.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
if not set1.intersection(set2):
    print("no common element")
else :
    print(" common element")

no common element

In [15]:
#19. Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
new = set1.symmetric_difference(set2)
new

{1, 2, 3, 6, 7, 8}

In [18]:
#20. Update a set with elements from another set..
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
new = set1.update(set2)
new

In [19]:
# 2# 21. Create a set of the first 5 prime numbers..
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print(prime_set)

{2, 3, 5, 7, 11}

In [25]:
#22check two sets are identical
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}
if set1 == set2 :
    print("sets are identical")
else :
    print ("sets are not identical")

sets are identical

In [27]:
#23. Create a frozen set
elements = {1, 2, 3, 4, 5}

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [29]:
#24. Check if a set is disjoint with another set
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
#return True if two sets have a null intersection.
set3 = set1.isdisjoint(set2)
set3

True

In [32]:
#25. Create a set of squares of numbers from 1 to 5.
squareset = set()
for n in range(1,6):
    square = n ** 2
    squareset.add(square)
print (squareset)

{1, 4, 9, 16, 25}

In [38]:
#6. Filter out all even numbers from a set.
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = set()
for num in set1:
    if num%2 == 0:
        set2.add(num)
        num+=1
set2

{2, 4, 6, 8, 10}

In [40]:
#27. Multiply all elements in a set by 2.
set1 = {1,2,3,4,5,6,7,8,9,10} 

# Multiply all elements in the set by 2 using a set comprehension
result_set = {x * 2 for x in set1}

print(result_set)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [42]:
#28. Create a set of random numbers.
import random
random_num = 5
set1 = set()
for i in range(5):
    random1 = random.randint(1,100)
    set1.add(random1)
print ("Random number are ", set1)

Random number are  {2, 92, 27, 28, 29}

In [50]:
#28. Create a set of random numbers.
set1 =set()
if not set1:
    print(True)
else :
    print(False)

True

In [51]:
#30. Create a nested set (hint: use frozenset).
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}
nested_set

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [1]:
#31. Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
my_set

{1, 2, 4, 5}

In [2]:
#32. Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [5]:
#33. Create a set from a string.
string = ' Create a set from a string.'
new_list = list(string)
print(new_list)

[' ', 'C', 'r', 'e', 'a', 't', 'e', ' ', 'a', ' ', 's', 'e', 't', ' ', 'f', 'r', 'o', 'm', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', '.']

In [9]:
#34. Convert a set of strings to a set of integers.
# Original set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers using a loop
integer_set = set()
for item in string_set:
    integer_set.add(int(item))

# Alternatively, you can use a set comprehension for a more concise approach
integer_set = {int(item) for item in string_set}

# Now, 'integer_set' contains the set of integers
print(integer_set)

{1, 2, 3, 4, 5}

In [1]:
#35. Convert a set of integers to a set of strings
int_set = {1,2,3,4,5}

# Convert the set of strings to a set of integers using a loop
string_set = set()
for item in int_set:
    string_set.add(str(item))

# Alternatively, you can use a set comprehension for a more concise approach
string_set = {str(item) for item in int_set}

# Now, 'integer_set' contains the set of integers
print(string_set)

{'4', '2', '3', '1', '5'}

In [2]:
#36. Create a set from a tuple.
tup  = (1,2,3,4,5,6,7,8,9)
set1 = set(tup)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
#37. Convert a set to a tuple.
set1 = {1,2,3,4,5,6,7,8,9}
tup = tuple(set1)
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
#38. Find the maximum value in a set.
set1 = {11,22,3,43,55,6,7,81,9}
new = max(set1)
print("The maximum value is ",new)

The maximum value is  81

In [5]:
#39. Find the minimum value in a set
set1 = {11,22,3,43,55,6,7,81,9}
new = min(set1)
print("the minimum value is",new)

the minimum value is 3

In [13]:
#40. Create a set from user input.i
input_set = set(input("Enter set values"))
print (input_set)

Enter set values azman

{'a', 'z', 'm', 'n'}

In [16]:
#41. Check if the intersection of two sets is empty.
set1 = {1, 2, 3, 4, 5}
set2 = {4,5, 6, 7, 8}
new = set1.intersection(set2)
if new == set():
    print ("empty set")
else:
    print("Not empty ",new)

Not empty  {4, 5}

In [17]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()
a =0
b =1
for r in range(6):
    fibonacci_set.add(a)
    a=b
    b=a+b
print("fibonacci set 1-5",fibonacci_set )

fibonacci set 1-5 {0, 1, 2, 4, 8, 16}

In [20]:
#43. Remove duplicates from a list using sets.
list1 = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
newList = set(list1)
print("printing the list removing all the duplictes",newList)

printing the list removing all the duplictes {2, 4, 6, 8, 10, 12, 14}

In [23]:
#44. Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3, 4, 5, 5}
set2 = {5, 4, 3, 2, 1}

# Convert sets to sorted lists
list1 = sorted(list(set1))
list2 = sorted(list(set2))

# Check if the sorted lists are equal
if list1 == list2:
    print("The sets have the same elements")
else:
    print("The sets are not the same.")

The sets have the same elements regardless of count.

In [28]:
#45. Create a set of the first n powers of 2
power2 = set()
for i in range(5):
    power = 2**i
    power2.add(power)
print(power2)

{1, 2, 4, 8, 16}

In [32]:
#46. Find the common elements between a set and a list.
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
newlist = set(my_list)
check = my_set.intersection(newlist)
if check == set():
    print("no common element")
else :
    print("common element",list(check))

common element [9, 12, 7]

In [33]:
#47. Create a set of the first n triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set()
    for i in range(1, n + 1):
        tn = i * (i + 1) // 2  # Calculate the nth triangular number
        triangular_numbers.add(tn)  # Add it to the set
    return triangular_numbers

n = 10  # Replace with the desired number of triangular numbers
triangular_numbers_set = generate_triangular_numbers(n)
print(triangular_numbers_set)

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [34]:
#48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {1,2}
subset = set2.issubset(set1)
if subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [35]:
#49. Create a set of alternating 1s and 0s of length n.
n = 10  # Replace with the desired length of the alternating sequence
alternating_set = set()
for i in range(n):
    alternating_set.add(i % 2)  # Add 0 or 1 alternately

print(alternating_set)

{0, 1}

In [40]:
# 50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {6, 4, 5}
set3 = {8, 9, 7}
merge =set1.union(set2,set3)
print(merge)

{1, 2, 3, 4, 5, 6, 7, 8, 9}